html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40;
}
.page-top {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.play-button {
  display: inline-block;
  text-align: center;
}
.player-interface {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.player-hand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.title {
  text-align: center;
}
button {
  background-color: #013220;
  border-radius: 8px;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  text-align: center;
}
button:hover {
  transform: scale(1.1);
}
