html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40;
}
.page-top {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.player-interface {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.player-hand,
.dealer-hand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.title {
  text-align: center;
}
button {
  background-color: #013220;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  padding: 10px 16px;
  text-align: center;
  margin-top: 20;
  margin-bottom: 20;
}
button:hover {
  transform: scale(1.1);
}
.cards {
  padding-top: 60px;
  height: 175px;
  width: 120px;
  border: 2px solid black;
  padding: auto;
  border-radius: 10px;
  text-align: center;
  margin-top: 20;
  margin-bottom: 20;
}
h2 {
  font-size: 50%;
  background-color: #013220;
  border-radius: 8px;
  color: #ffffff;
  text-align: center;
  margin: auto;
}
.play {
  margin: auto;
  display: flex;
}
